{% extends "layout.html" %}
{% block page_header%}
<span class="layui-breadcrumb">
<a href="{{ url_for('backend.category')}}">分类列表</a>
{% endblock %}
{% block page_here %}
<a><cite>创建分类</cite></a>
{% endblock %}
{% block content %}
    <form class="layui-form" action="{{ url_for('backend.category_create')}}" method="post">
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
            </div>
       </div>

       <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" autocomplete="off" placeholder="请输入排序" class="layui-input">
            </div>
       </div>
      
       <div class="layui-form-item">
        <label class="layui-form-label">启用</label>
        <div class="layui-input-block">
          <input type="checkbox" value="1" checked="" name="enabled" lay-skin="switch" lay-filter="switchTest" lay-text="启用|关闭">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="form-save">保存</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
{% endblock %}