{% extends "layout.html" %}
{% block page_header%}
<span class="layui-breadcrumb">
<a href="{{ url_for('backend.users')}}">用户列表</a>
{% endblock %}
{% block page_here %}
<a><cite>编辑用户</cite></a>
{% endblock %}
{% block content %}
    <form class="layui-form" action="{{ url_for('backend.user_edit')}}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
       <input type="hidden" name="id" value="{{ user.id }}">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="请输入名称" value="{{ user.username }}" class="layui-input">
            </div>
       </div>
       <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-inline">
            <input type="tel" name="mobile" lay-verify="required|mobile" autocomplete="off" placeholder="请输入手机" value="{{ user.mobile }}" class="layui-input">
          </div>
        </div>
       
      </div>

      <div class="layui-form-item">
    
        <div class="layui-inline">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-inline">
            <input type="text" name="email" lay-verify="email" value="{{ user.email }}" autocomplete="off" class="layui-input" placeholder="请输入邮箱">
          </div>
        </div>
      </div>
      <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
       </div>

       <div class="layui-form-item">
        <label class="layui-form-label">启用</label>
        <div class="layui-input-block">
          <input type="checkbox" value="1" {% if user and user.enabled == True%}checked=""{% endif %} name="enabled" lay-skin="switch" lay-filter="switchTest" lay-text="启用|关闭">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="form-save">保存</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
{% endblock %}