{% extends "layout.html" %}
{% block page_header%}用户列表{% endblock %}
{% block search %}
<div class="table-reload-btn" style="margin-bottom: 10px;">
  <div class="layui-inline">
    <input class="layui-input" name="username" id="table-reload" placeholder="用户名" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload">搜索</button>
  <button class="layui-btn" data-type="create" data-url="{{ url_for('backend.user_create') }}">创建</button>
</div>
{% endblock %}
{% block content %}

<table class="layui-hide" id="table-form" lay-filter="backend-table"></table>
</div>
        </div>
{% endblock %}
{% block script %}
<script type="text/html" id="operate-bar">
  <a class="layui-btn layui-btn-xs" data-url="{{ url_for('backend.user_edit') }}" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" data-url="{{ url_for('backend.user_del') }}" lay-event="del">删除</a>
</script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#table-form'
    ,url:'{{ url_for("backend.users")}}'
    ,cols: [[
      {field:'id', width:80, title: 'ID', sort: true}
      ,{field:'username',  title: '用户名'}
      ,{field:'email', title: '邮箱'}
      ,{field:'mobile',  title: '手机'}
      ,{field:'created_at',  title: '创建时间', sort: true}
      ,{field:'enabled', title: '状态', sort: true}
      ,{width:178, align:'center', title:'操作', fixed: 'right', toolbar: '#operate-bar'}
    ]]
    ,page: true
  });
  
});
</script>

{% endblock %}