<!DOCTYPE html>
<html class=" desktop">
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" media="screen">
        
        <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skel-noscript.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-desktop.css') }}" />
        </noscript>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/skel-panels.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/adminapp.css') }}" />
    {% endblock %}
    </head>
    <body>
        <div id="skel-panels-pageWrapper" style="position: relative; left: 0px; right: 0px; top: 0px; backface-visibility: hidden; transition: -webkit-transform 0.25s ease-in-out;">
            {% block header %}
            <div id="header">
                <div class="container"> 

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="https://www.bdelay.com/"><img src="./index_files/graph.png" alt="浮木网"></a></h1>
                        <span class="text-transform:none;">I am a slow walker,but I never walk backwords.</span>
                    </div>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class=""><a href="https://www.bdelay.com/" title="Home">Home 
                                </a></li>
                            <li class=""><a href="https://www.bdelay.com/category/3" title="Coding">Coding</a></li>
                            
                            <li>
                                <form action="https://www.bdelay.com/search" method="post">
                                    <input type="hidden" name="_token" value="Fue0y5AHQXtvqA0PF7Ec11qP9tJ7IXOdMU2iNc8l">
                                    <input type="text" name="keyword" placeholder="请输入关键字">
                                    <input type="submit" id="keysearch" value="搜索">
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endblock %}

<!-- Main -->
<div id="main">
    <div class="container">
        {% block content %}{% endblock %}
        
    </div>
</div>
<!-- main end-->
        <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                友情链接：</div>
            <div class="container">
                We are all so young.And we are also that sank.
            </div>
        </div>

    </div>
    
    </body>
</html>