{% from '_marco.html' import render_pagination %}
{% extends 'app.html' %}
{% block content %}
<div class="row" id="pjax-container"> 
    <!-- Content -->
    <div id="content" class="8u skel-cell-important">
        {% for post in posts %}
        <section class="zsection">
            <header>
                <h4><a href="https://www.bdelay.com/article/380">{{ post.title }}</a></h4>
            </header>
            {{ post.body }}
            <p>Tags: 
                Posted:{{ post.created_at }} &nbsp; By <span>{{ post.author }}</span> &nbsp;In:
                <a href="https://www.bdelay.com/article/3">Coding</a>
            </p>
        </section>
        {% endfor %}                        
            {{ render_pagination(pagination,url_for(".index")) }}
                
            </div>
            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <section>
                    <header>
                        <h2>Vilay nominate</h2>
                    </header>
                    <ul class="style">
                                                
                        <li>
                            <a href="https://www.bdelay.com/article/34">
                            <p class="posted">Mac OS X 下tar.gz包安装Mysql - 2015-11-13  </p>
                            </a>
                            <img src="./index_files/linux.jpg" alt="">
                            <p class="text">刚接触Mac系统记录下搭建php环境中遇到的坑，这篇文章介绍下tar.gz 包安装Mysql的过程。Mysql下载地址

首先，进入下载的文件目录，一般是

cd ~/Downloads

</p>
                        </li>
                    </ul>
                </section>
               
            </div> 
        </div>
{% endblock %}