<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="csrf_token" content="{{ csrf_token() }}">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='modules/layui/css/layui.css') }}">
  {% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Bdelay</div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{{ url_for('backend.index') }}">控制台</a></li>
     <!--  <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{{ url_for('static', filename='backend/images/logo.jpg') }}" class="layui-nav-img">
          {{ current_user.username }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{{ url_for('backend.logout')}}">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="{{ url_for('backend.index') }}">首页</a>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">内容管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('backend.posts') }}">文章列表</a></dd>
            <dd><a href="{{ url_for('backend.category') }}">分类列表</a></dd>
            <dd><a href="{{ url_for('backend.labels') }}">标签列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">数据统计</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('backend.statis') }}">访问数据</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">系统设置</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('backend.setting') }}">系统设置</a></dd>
            <dd><a href="{{ url_for('backend.users') }}">管理员列表</a></dd>
            <dd><a href="{{ url_for('backend.logs') }}">后台日志</a></dd>
            <dd><a href="{{ url_for('backend.links') }}">友情连接</a></dd>
            <!-- <dd><a href="javascript:;">权限管理</a></dd> -->
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <div class="layui-fluid" style="padding: 0px;">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
          <div class="layui-card-header">
          {% block page_header %}{% endblock %}
          {% block page_here %}{% endblock %}
          </div>
          <div class="layui-card-body">
            {% block search %} {% endblock %}
            {% block content %}{% endblock %}
            
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    {% block footer %}
    © <a href="//www.bdelay.com" target="_blank">bdelay.com</a>
    {% endblock %}
  </div>
</div>
<script src="{{ url_for('static', filename='modules/layui/layui.js') }}"></script>
{% block script %}{% endblock %}
<script src="{{ url_for('static', filename='backend/js/common.js') }}"></script>
</body>
</html>
